<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="hidden-xs">@ViewBag.UserLogin</span>
    </a>
</li>
<!-- Control Sidebar Toggle Button -->
<li>
    <a href="@Url.Action("Logout","Login")"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
</li>