@if (Model != null)
{
    <a href="/doc-sach/@Model.BookAlias/@Model.ChapFirstAlias/" target="_blank" type="button" class="btn btn-warning btn-md">
        <span class="glyphicon glyphicon-star" aria-hidden="true">
        </span> Đọc Online
    </a>
}


